<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf='users'>
    <ion-item *ngFor='let user of users'>
      <h2>{{user.name}}</h2>
      <h3>Email: {{user.email}}</h3>
      <p>Company: {{user.company.name}}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngIf='!users'>
    <ion-item *ngFor='let fake of fakeData' class='fakeItem'>
      <ion-avatar item-start>
      </ion-avatar>
      <h2></h2>
      <h3></h3>
      <p></p>
    </ion-item>
  </ion-list>
</ion-content>